
{% load static %}
<!DOCTYPE html>
<html>
<head>
  <title>Project Home</title>
  <link rel="stylesheet" href="{% static 'accounts/styles.css' %}">
</head>
<body>
  <div class="form-container">
    <h2>Welcome to the Nani's Project!</h2>
    <h3>happy to see you😊</h3>
    <p>Login was successful.</p>
    <p>
      <a href="https://tharun123-dev.github.io/project-agrimart-/nav/main.html" target="_blank" style="color:#006699; font-weight:bold;">
        Open My GitHub Project
      </a>
    </p>
  </div>
</body>
</html>
